<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.CalculatorResMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.CalculatorRes">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="exp" column="exp" jdbcType="VARCHAR"/>
            <result property="res" column="res" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,exp,res
    </sql>
</mapper>
